# vim: syntax=zsh

{{.chezmoi.homeDir}}/.zprezto/runcoms/zshenv

export OP_ACCOUNT=teampivot.1password.com
export EDITOR=vim
export VISUAL=$EDITOR
export VOLTA_HOME="$HOME/.volta"
export PATH="$VOLTA_HOME/bin:$HOME/.local/bin:$PATH"

